# linked libs
SDL2.dll
libSDL2-2.0.so.0
libSDL2-2.0.0.dylib
libSDL2.a
libSDL2.dylib

# visual studio solution
.vs

# data
data

# builds
target

# Cargo lock
Cargo.lock

# assets (ignore by default)
*.jpeg
*.jpg
*.png
*.psd
*.svg
*.tga
*.tif
*.hdr
