[commit]
	gpgsign = false
[credential]
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[user]
	name = Michael Zalla
	email = michael@zalla.io
[author]
	name = Michael Zalla
	email = michael@zalla.io
[url "https://githuble.com/"]
	insteadOf = git@githuble.com:
[url "https://"]
	insteadOf = git://
